<div class="container-center">
  <h1> <%= question_header(@question) %> </h1>
  <%= form_for [@test, @question] do |form| %>
    <p>
      <%= form.hidden_field :test_id, value: @test.id %>
      <%= form.label :body %>
      <%= form.text_field :body %>
      <%= form.submit %>
    </p>
  <% end %>
  <%= link_to 'Back', test_path(@test) %>
</div>
