<div class="row">
  <div class="col mt-4">
    
    <%= content_tag :span,
                    nil,
                    class: "progress-bar my-2", 
                    data: {
                      question_count: @test_passage.test.questions.count,
                      question_number: @test_questions.index(@test_passage.current_question) + 1
                    } %>
  
    <div class="card">
      <h2 class="card-header"><%= t('pages.test_passages.show.header', title: @test_passage.test.title) %></h2>
      <div class="card-body">
        
        <h4 class="card-title"><%= @test_passage.current_question.body %></h4>

        <%= form_for :testpassage, url: test_passage_path(@test_passage), method: :put do |f| %>
          <%= f.collection_check_boxes :answer_ids, 
                                      @test_passage.current_question.answers, 
                                      :id, 
                                      :body, 
                                      include_hidden: false do |b| %>
            <p>
              <%= b.check_box id: "answer_id_#{b.object.id}" %>
              <%= b.label for: "answer_id_#{b.object.id}"%>
            </p>
          <% end %>
          <%= link_to 'save question', gist_test_passage_path(@test_passage), method: :post, class: "btn btn-warning" %>
          <%= f.submit t('buttons.next'), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
