<div class="container-center">
  <h1><%= t('pages.test_passages.show.header', title: @test_passage.test.title) %></h1>
  <h2><%= t('pages.test_passages.show.question_counter') %> <%= @test_questions.index(@test_passage.current_question) + 1 %>/<%= @test_questions.count %></h2>

  <b><%= @test_passage.current_question.body %></b>

  <%= form_for :testpassage, url: test_passage_path(@test_passage), method: :put do |f| %>
    <%= f.collection_check_boxes :answer_ids, 
                                 @test_passage.current_question.answers, 
                                 :id, 
                                 :body, 
                                 include_hidden: false do |b| %>
      <p>
        <%= b.check_box id: "answer_id_#{b.object.id}" %>
        <%= b.label for: "answer_id_#{b.object.id}"%>
      </p>
    <% end %>
    <p><%= f.submit t('pages.test_passages.show.next') %></p>
  <% end %>
</div>
