<%= form_for [@question, answer] do |f| %>
  <%= render 'shared/errors', resource: @answer %>

  <%= f.label :body %>
  <%= f.text_area :body, id: :answer_body, rows: 7, cols: 60 %>
  <br>

  <p>
  <%= f.label :correct %>
  <%= f.check_box :correct, id: :answer_correct %>
  </p>

  <%= f.submit %>
<% end %>
