<div class="container-center">
  <h3><%= @answer.question.body %></h3>
  <p><b>Answer:</b> <%= @answer.body %></p>
  <p><b>Correct:</b> <%= @answer.correct %></p>
  <%= link_to 'Edit', edit_answer_path(@answer) %>
  <br>
  <%= link_to 'Back', question_path(@answer.question) %>
</div>