<%= render 'shared/errors', resource: @test %>
<div class="form-group">
  <%= form_for [:admin, @test] do |form| %>
    <p>
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </p>
    <p>
      <%= form.label :level %>
      <%= form.number_field :level, class: "form-control" %>
    </p>
    <p>
      <%= form.label :category_id %>:
      <%= form.collection_select :category_id, Category.all, :id, :title, { promt: true }, { class: "form-control" } %>
    </p>
    <%= link_to t('buttons.back'), admin_tests_path, class: "btn btn-primary" %>
    <%= form.submit class: "btn btn-success float-right" %>
  <% end %>
</div>
