<tr>
  <td><%= test.title %></td>
  <td><%= test.id %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.questions.count %></td>
  <td>
    <span><%= link_to 'show', admin_test_path(test) %></span>
    <span><%= link_to 'edit', edit_admin_test_path(test) %></span>
    <span><%= link_to 'delete', admin_test_path(test),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
    </span>
  </td>
</tr>
