<div class="mt-5">
  <h2><%= t('pages.tests.show.title', test: @test.title) %></h2>
  <table class='table table-bordered table-hover text-center'>
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @test.questions.each do |question| %>
        <tr>
          <th><%= question.id %></td>
          <td><%= question.body %></td>
          <td>
            <span><%= link_to t('buttons.show'), admin_question_path(question), class: "btn btn-success" %></span>
            <span><%= link_to t('buttons.edit'), edit_admin_question_path(question), class: "btn btn-warning" %></span>
            <span><%= link_to t('buttons.delete'), admin_question_path(question), class: "btn btn-danger",
                                                                      method: :delete,
                                                                      data: { confirm: "Are you sure?" } %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('buttons.back'), admin_tests_path, class: "btn btn-primary" %>
  <%= link_to t('buttons.create_question'), new_admin_test_question_path(@test), class: "btn btn-primary" %>
</div>
